DC/pretrained
DC/result*
DC/*.sh
DC/*.out
DC/__pycache__/
distilled_data
DC/__pycache__/*.pyc
*.pyc
__pycache__/
DC/data/
MTT_FD/buffer_storage
MTT_FD/dataset
MTT_FD/docs
MTT_FD/data
MTT_FD/eval
MTT_FD/__pycache__
MTT_FD/mtt_eval
MTT_FD/mtt_eval_ori
MTT_FD/logged_files
MTT_FD/res
MTT_FD/*.out
MTT_FD/*.sh
MTT_FD/res_ab/
DATM_FD/distill/*.sh
DATM_FD/distill/*.out
DATM_FD/buffer/*.out
DATM_FD/buffer/*.sh
DATM_FD/distill/res_ab
